

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  font-family: "Electrolize", sans-serif;
  color: azure;
}

